# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# translations
# Messages for the default language are in the source code. Update the code instead of this file.
/lang/fi-FI.json
/.compiled-lang

/schemas/response_*

# generated
/public/default-messages-*
/src/api/client.ts
/src/api/käyttöoikeus.ts
/src/api/koodisto.ts
/src/api/localisation.ts
/src/api/organisaatio.ts
/target/*
